@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: #F2F2F2;
}

.logo > a{
    font-size: 20px;
    text-decoration: none;
    color: #1D2F3D;
}

.logo > a::before {
    content: "Loca";
    border: 3px solid #1D2F3D;
    margin-right: 39px;
    display: block;
    font-weight: 500;
    height: 20px;
    padding: 0px 1px 7px 2px;
    letter-spacing: 0.5px;
}

.logo > a::after {
    content: "bis";
    border: 3px solid #1D2F3D;
    margin-top: -19px;
    margin-left: 55px;
    display: block;
    font-weight: 500;
    height: 21px;
    padding: 0px 2px 6px 3px;
    letter-spacing: 0.5px;
}

.logo:hover > a::before,
.logo:hover > a::after {
    transition: 0.2s;
    background-color: #1D2F3D;
    color: #fff;
    box-shadow: 2px 2px 3px black;
}

h1, h2, h3, p, a, span, label, input, button, ul, table, textarea {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-weight: 500;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

.menu {
    background-color: #F2DCB3;
    display: flex;
    padding: 10px 110px;
    align-items: center;
    box-shadow: 0px 0px 10px black;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.boutonNavigations > ul,
.boutonConnecte > ul {
    display: flex;
    list-style: none;
}

.btnConnexion {
    cursor: pointer;
    width: 43%;
}

.boutonMenu {
    color: #1d2f3d;
    text-decoration: none;
    padding: 6px 10px;
    border: 3px solid transparent;
    margin: 0px 5px;
    font-weight: 500;
}

.boutonMenu:hover {
    transition: 0.3s;
    border: 3px solid #1d2f3d;
    border-radius: 0px;
}

.contenu {
    display: flex;
    justify-content: center;
    margin: 50px 100px;
    padding-top: 50px;
}

.page {
    width: 100%;
}

.infos {
    width: 40%;
}

.descAppart {
    position: fixed;
    left: 100px;
    width: 20%;
}

.page,
.infos {
    margin: 0px 10px;
    padding: 10px 20px;
}

.info {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}

.entetePage,
.enteteInfo {
    border-bottom: 1px solid #241F14;
}

.entetePage > h1,
.enteteInfo > h2{
    font-weight: 500;
    color: #1d2f3d;
}

.entetePage > h1 {
    font-size: 27px;
}

.contenuCarte {
    display: flex;
    justify-content: space-around;
}

.contenuAppart {
    margin-left: 520px;
}

/* Boutons du site */
.bouton {
    display: flex;
    margin: 10px;
    padding: 10px 20px;
    border: 3px solid #1D2F3D;
    justify-content: center;
    text-decoration: none;
    color: #1d2f3d;
    font-weight: 500;
    cursor: pointer;
}

.bouton:hover {
    transition: 0.2s;
    background-color: #1D2F3D;
    color: #fff;
    box-shadow: 2px 2px 3px black;
}

/* Catalogue des apparts */
.carteLoc {
    margin: 10px 0px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
    width: 28%;
}

.carteLoc_contenu > h2 {
    font-size: 16px;
    color: #1d2f3d;
    font-weight: 500;
}

.infoLoca {
    color: #1d2f3d;
}

/* Annonce */

.equipements {
    display: flex;
}

.equipement {
    display: inherit;
    align-items: center;
    padding: 5px 20px;
    margin-right: 10px;
    border: 3px solid #1d2f3d;
}

.equipement > i {
    font-size: 21px;
    margin-right: 5px;
    color: #1d2f3d;
}

.equipement > p {
    color: #1d2f3d;
}

/* Avis */
.avis {
    padding: 5px 20px;
    margin-top: 10px;
    margin-right: 10px;
    border: 3px solid #1d2f3d;
}

.avisEntete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #1d2f3d;
}

/* Pagination */
.pagination {
    display: flex;
    list-style: none;
    padding: 0px;
    justify-content: center;
}

.nbPage,
.pagination > li > a {
    margin: 0px 10px;
    padding: 10px;
    border: 1px solid #241F14;
    color: #000;
    text-transform: none;
}

/* Messages */
.message {
    display: flex;
    align-items: center;
    border: 3px solid #1d2f3d;
    margin: 10px 0px;
    padding: 5px;
    color: #fff;
    box-shadow: 1px 1px 3px #000;

}

.msgErreur {
    background-color: rgb(236, 97, 97);
}

.msgInfo {
    background-color: rgb(97, 164, 236);
}

.msgConfirmation {
    background-color: rgb(73, 185, 101);
}

.titreInfo {
    font-weight: 500;
}

/* Page de connexion */
.inputConnexion {
    margin: 10px 0px;
}

input {
    width: 20%;
    background-color: transparent;
    border: 3px solid transparent;
    border-bottom: 3px solid #1d2f3d;
}

input:focus-visible {
    outline: none;
    border: 3px solid #1d2f3d;
    transition: 0.2ms;
}

textarea {
    width: 100%;
    border: 3px solid #1d2f3d;
}

.inputTitre {
    width: 100%;
}

/* Tableaux */
table {
    width: 100%;
}

thead {
    background-color: blanchedalmond;
    text-align: left;
}

td {
    background-color: #fff;
}

/* Espace membre */

.actionResrvation {
    display: flex;
    justify-content: space-between;
}

.actionResrvation > input {
    margin: 0px;
}

/* Responsive */
.menuResp {
    display: none;
}

/* Zone de recherche */
.recherche {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    border-radius: 5px;
}


.recherche > label {
    color: #fff;
    border: 3px solid #1d2f3d;
    background: #1d2f3d;
    padding: 2.5px;
}

.recherche > select{
    border: 3px solid #1d2f3d;
    background-color: #fff;
    padding: 7px;
    border-left: none;
    cursor: pointer;
}